AUTH_PORT=3000

AUTH_MONGO_URI=mongodb://localhost:27017/auth-service

JWT_ACCESS_SECRET=change-it
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=change-it
JWT_REFRESH_EXPIRES_IN=7d

RABBITMQ_URL=amqp://guest:guest@localhost:5672

RABBITMQ_AUTH_QUEUE=auth-service-auth-queue
RABBITMQ_USER_EVENTS_QUEUE=auth-service-user-events-queue

